*          @LeanderCS, @Nalochen, @StrykerDelkar

/.github/  @ops-team
/.github/CODEOWNERS @LeanderCS, @Nalochen
/.github/ISSUE_TEMPLATE/ @LeanderCS, @Nalochen

/backend/  @backend-team

/docker/   @ops-team

/frontend/ @frontend-team